.dart_tool/
.idea/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
shots/
fastwork.sqlite
*.sqlite
packages/*/.dart_tool/
packages/*/build/
packages/*/pubspec.lock
